!!!
%html
  %head
    %title Recipes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .navbar.navbar-dark
      = link_to t('.recipes'), root_path, class: 'navbar-brand'
    .container
      = yield
